@import url("theme.css");


#nav-icon{
  width: 38px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
   float: right;
    margin-right: 80px;
}

#nav-icon span{
    display: block;
    position: absolute !important;
    height: 4px;
    width: 100%;
    opacity: 1;
    left: 0;
    height: 4px;
    border-radius: 4px;
    background: var(--bg-color-light-250, #444900);
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 12px;
}

#nav-icon span:nth-child(4) {
  top: 24px;
}

#nav-icon.close span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 0%;
}

#nav-icon.close span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.close span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.close span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 0%;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: var(--display-base, 24px);
    color: var(--color-light-550, #424242);
    font-weight: var(--font-regular, 400);
    padding: 0;
    margin-right: 0;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-family: var(--heading-font, "Merriweather", serif);
    color: var(--color-primary, #131313);
    text-transform: capitalize;
}

.header {
    position: fixed;
    padding-top: 44px;
    padding-left: 332px;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}



.video-wrap {
    position:absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    top: 0;
    left: 0;
}

.banner-content {
    background: transparent;
    border-radius: 24px;
    min-height: 100px;
    width: 410px;
    text-align: var(--align-center, center);
    position: relative;
    padding-top: 62px;
    margin-left: 32px;
    position: absolute;
    top: 30vh;
}
.banner-content img{
    opacity: 0;
}
.screen-1 .banner-content{
    transition: all 0.7s ease 0.4s;
    -moz-transition: all 0.7s ease 0.4s;
    -webkit-transition: all 0.7s ease 0.4s;
    -ms-transition: all 0.7s ease 400;
    background: rgba(255, 255, 255, 0.5);;
}
.screen-1 .banner-content img{
    transition: all 0.7s ease 0.2s;
    -moz-transition: all 0.7s ease 0.2s;
    -webkit-transition: all 0.7s ease 0.2s;
    -ms-transition: all 0.7s ease 200;
    opacity: 1;
}

.banner-content h1 {
    margin-bottom: calc(var(--spacing-sm, 12px) + var(--spacing-xsm, 8px));
    opacity: 0;
}
.screen-1 .banner-content h1 {
    transition: all 0.7s ease 0.6s;
    -moz-transition: all 0.7s ease 0.6s;
    -webkit-transition: all 0.7s ease 0.6s;
    -ms-transition: all 0.7s ease 600;
    opacity: 1;
}



.banner-content ul {
    width: 247px;
    margin: 0 auto;
}

.banner-content ul li {
    border-bottom: 1px dashed var(--border-color-200, #6d4f1d);
    font-size: var(--display-base, 24px);
    padding: var(--spacing-sm, 12px) 0;
    opacity: 0;
}
.screen-1 .banner-content ul li:first-child {
    transition: all 0.7s ease 0.8s;
    -moz-transition: all 0.7s ease 0.8s;
    -webkit-transition: all 0.7s ease 0.8s;
    -ms-transition: all 0.7s ease 800;
    opacity: 1;   
}
.screen-1 .banner-content ul li:nth-child(2) {
    transition: all 0.7s ease 1s;
    -moz-transition: all 0.7s ease 1s;
    -webkit-transition: all 0.7s ease 1s;
    -ms-transition: all 0.7s ease 1000;
    opacity: 1;   
}
.screen-1 .banner-content ul li:last-child {
    transition: all 0.7s ease 1.2s;
    -moz-transition: all 0.7s ease 1.2s;
    -webkit-transition: all 0.7s ease 1.2s;
    -ms-transition: all 0.7s ease 1200;
    opacity: 1;   
}
.banner-content ul li:last-child {
    border-bottom: none;
    padding-bottom: var(--spacing-md, 22px);
}

.banner-content h1 {
    font-size: var(--heading-2, 38px);
    font-weight: 400;
}

.banner-logo {
    position: absolute;
    width: 100%;
    top: -98px;
}

.heading-graphic {
    position: relative;
}

.heading-graphic::before,
.heading-graphic::after {
    content: "";
    position: absolute;
}

.heading-graphic::before {
    background: url(../img/heading-leave.svg) no-repeat;
    width: 24px;
    height: 28px;
    right: -21px;
    top: -14px;
}

.heading-graphic::after {
    background: url(../img/heading-base.svg) no-repeat;
    width: 155px;
    height: 7px;
    left: 3px;
    bottom: -3px;
}

.body-flow {
    overflow: hidden;
}

.arrow-small {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='42' height='48' viewBox='0 0 42 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.85094 20.5686L0.290935 27.1286L21.0109 47.8186L41.7109 27.1186L35.1509 20.5586L21.0109 34.7086L6.85094 20.5686ZM35.1309 23.3986L38.8609 27.1286L21.0109 44.9986L3.12094 27.1286L6.85094 23.3986L21.0109 37.5386L35.1309 23.3986Z' fill='%23D0D0D0'/%3E%3Cpath d='M0.330936 6.55L21.0109 27.25L41.7109 6.55L35.1709 -2.85872e-07L21.0109 14.14L6.88094 -1.52247e-06L0.330936 6.55ZM35.1709 2.82L38.9009 6.55L21.0109 24.42L3.15094 6.55L6.88094 2.82L21.0109 16.97L35.1709 2.82Z' fill='%23D0D0D0'/%3E%3C/svg%3E%0A");;
    -webkit-mask-repeat: repeat-y;
    height: 47px;
    width: 43px;
    display: inline-block;
    background-color: var(--bg-color-light-150, #d0d0d0);
}

.focused .arrow-small {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='102' height='117' viewBox='0 0 102 117' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1545 51.0242L-6.9531e-07 66.9068L51.0246 117L102 66.8826L85.8455 51L51.0246 85.259L16.1545 51.0242ZM85.7962 57.876L94.9817 66.9068L51.0246 110.172L6.9691 66.9068L16.1545 57.876L51.0246 92.1108L85.7962 57.876Z' fill='%23EAB5CE'/%3E%3Cpath d='M-7.03954e-07 16.1046L50.9753 67L102 16.1046L85.8792 -7.04664e-07L50.9753 34.7662L16.1455 -3.75282e-06L-7.03954e-07 16.1046ZM85.8792 6.93358L95.0735 16.1046L50.9753 60.0418L6.95118 16.1046L16.1455 6.93357L50.9753 41.7244L85.8792 6.93358Z' fill='%23EAB5CE'/%3E%3C/svg%3E%0A");
    background-color: var(--bg-color-light-200, #eab5ce);
    height: 117px;
    width: 102px;
}

.bullets {
    height: 100vh;
    text-align: center;
    width: 320px;
    animation: diving1 10s ease-in-out infinite;
}


.bullets li {
    margin-top: -4px;
}
.bullets li.focused {
    margin-top: -10px;
}
.bullets li:first-child {
    margin-top: 0;
}
.bullets li span{
    transition: all 0.3s ease 1ms;
    -moz-transition: all 0.3s ease 1ms;
    -webkit-transition: all 0.3s ease 1ms;
    -ms-transition: all 0.3s ease 1000;
}
.bullets li.focused span,
.ani {
    transition: all 0.3s ease 2ms;
    -moz-transition: all 0.3s ease 2ms;
    -webkit-transition: all 0.3s ease 2ms;
    -ms-transition: all 0.3s ease 2000;
}

.bullets li.circle span {
    position: relative;
    width: 78px;
    height: 78px;
    display: inline-block;
}
.bullets li.circle{
    margin-top: 0;
}
.bullets li.circle span::after,
.bullets li.circle span::before {
    position: absolute;
    content: "";
    border: 5px solid var(--border-color-150, #eab5ce);
    border-radius: var(--border-radius-circle, 100%);
    width: 67px;
    height: 67px;
    top: 18px;
    left: 0;
}

.bullets li.circle span::after {
    width: 96px;
    height: 96px;
    left: -15px;
    top: 3px;
}

.section-content {
    width: calc(100% - 320px);
    padding-left: var(--spacing-sm, 12px);
}

.logo-sm {
    width: 81px;
    height: 76px;
    top: 96px;
    opacity: 0;
    transform: translateY(-24px);
}

.showLogo .logo-sm {
    opacity: 1;
}

.section-content h1 {
    font-weight: var(--font-bold, 700);
    font-size: var(--heading-1, 40px);
    margin-bottom: calc(calc(var(--spacing-md, 22px) + var(--spacing-base, 16px)) - var(--spacing-xxsm, 4px));
}

.width-lg {
    width: 510px;
}

.fnt-24 {
    font-size: var(--display-base, 24px) !important;
}

.fnt-32 {
    font-size: var(--heading-3, 32px) !important;
}

.d-flex {
    display: flex;
    align-items: center;
}

.margin-left-xlg {
    margin-left: calc((var(--spacing-md, 22px) * 4) - 8px);
}

.margin-top-lg {
    margin-top: calc(var(--spacing-md, 22px) * 2);
}

.avtar-list {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.c-p{
    cursor: pointer;
}
.avtar-list li {
    margin-right: 47px;
}

.avtar-list div {
    background: var(--bg-color-light-100, #e6f3ef);
    color: var(--color-secondary, #006242);
    text-align: var(--align-center, center);
    border-radius: var(--border-radius-md, 8px);
    padding: var(--spacing-md, 22px) 0;
    margin-top: var(--spacing-sm, 12px);
}

.process-ryt {
    margin-left: calc(var(--spacing-md, 22px) * 5);
}

.process-step {
    position: relative;
    display: inline-block;
}

.process-step-count {
    height: 48px;
    width: 48px;
    position: absolute;
    top: 59px;
    right: -103px;
    border-radius: var(--border-radius-circle, 100%);
    background: var(--bg-color-light-300, #fff);
    border: 1px solid var(--border-color-50, #de8600);
    text-align: var(--align-center, center);
    line-height: 48px;
    color: var(--color-light-200, #000);
    transform: scale(0);
    font-size: var(--display-1, 20px);
    font-weight: var(--font-semi-bold, 600);
}

.process-step::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    right: 0;
    top: 85px;
    background: var(--bg-color-secondary, #006242);
}

.process-step-content {
    padding-top: calc((var(--spacing-base, 16px) * 4) - var(--spacing-xxsm, 4px));
    padding-left: calc((var(--spacing-md, 22px) * 6) - 10px);
    align-self: flex-start;
}

.process-step-content span {
    background: var(--bg-color-light-100, #e6f3ef);
    color: var(--color-secondary, #006242);
    font-size: var(--heading-3, 32px);
    font-weight: var(--font-bold, 700);
    border-radius: var(--border-radius-lg, 12px);
    padding: 0 calc(var(--spacing-sm, 12px) + var(--spacing-xsm, 8px));
    line-height: 48px;
    display: inline-block;
    margin-bottom: calc(var(--spacing-base, 16px) * 2);
}

.process-step-content p {
    width: 315px;
    color: var(--color-light-550, #424242);
}

.process-ryt .process-step {
    order: 2;
}

.process-ryt .process-step::after {
    width: 0;
    left: 0;
    right: unset;
}

.process-ryt .process-step-count {
    right: unset;
    left: -243px;
}

.process-ryt .process-step-content {
    padding: calc((var(--spacing-base, 16px) * 4) - var(--spacing-xxsm, 4px)) calc((var(--spacing-md, 22px) * 5) - var(--spacing-xsm, 8px)) 0 0;
}

.mb-logo {
    border: 1px solid var(--border-color-100, #d0d0d0);
    border-radius: calc(var(--border-radius-lg, 12px) * 2);
    padding: var(--spacing-base, 16px) calc((var(--spacing-base, 16px) * 2) + var(--spacing-xxsm, 4px));
    display: inline-block;
}

.mb-logo img {
    display: block;
}

.border-lft {
    border-left: var(--border-color-250, #000) 0 solid;
    position: relative;
    padding: 0 0 var(--spacing-base, 16px) calc(var(--spacing-md, 22px) * 2);
    margin-left: calc((var(--spacing-md, 22px) * 3) + var(--spacing-sm, 12px));
}
.border-lft::after {
        background:var(--border-color-250, #000);
        height: 100%;
        width: 1px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    }

.mb-10 {
    margin-bottom: calc(var(--spacing-sm, 12px) - var(--spacing-smallest, 2px));
}

.contact-list li {
    background-position: 0 3px !important;
    padding-left: calc(var(--spacing-md, 22px) + var(--spacing-sm, 12px));
}
.contact-list li.email {
  background: url(../img/email.svg) no-repeat;
}
.contact-list li.phone {
  background: url(../img/phone.svg) no-repeat;
}
.review-bg {
    background: var(--bg-color-light-100, #e6f3ef);
}

.feedback-slider li {
    box-shadow: 22px 22px 34px -30px rgba(0, 0, 0, 0.25);
    background: var(--bg-color-light-300, #fff);
    margin-right: calc(var(--spacing-md, 22px) - var(--spacing-smallest, 2px));
    border-radius: var(--border-radius-lg, 12px);
    width: 285px;
    padding: calc(var(--spacing-md, 22px) + var(--spacing-smallest, 2px));
    min-height: 288px;
    float: left;
}

.feedback-slider li p {
    font-size: var(--display-1, 20px);
    line-height: 28px;
    margin-top: var(--spacing-base, 16px);
}

.user-detail img {
    margin-right: calc(var(--spacing-xsm, 8px) + var(--spacing-smallest, 2px));
}

.buyer {
    color: var(--color-light-50, #a1a1a1);
    font-size: var(--display-5, 12px);
    display: block;
}

.footer-strip {
    background: var(--color-light-700, #f1d2ba);
    margin-top: -60px;
    position: relative;
    padding: 0 120px;
    min-height: 60px;
    line-height: 60px;
    z-index: 3;
}

.footer-strip>div {
    display: flex;
    justify-content: space-between;
}

.footer-strip li {
    display: inline-block;
    float: left;
    padding: 0 var(--spacing-smallest, 2px);
}

.color-dark {
    color: var(--color-primary, #131313);
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-110 {
    margin-top: 110px !important;
}

.mt-44 {
    margin-top: calc(var(--spacing-md, 22px) * 2) !important;
}

.mt-8 {
    margin-top: var(--spacing-xsm, 8px);
}
.farm-footer{
    font-family: var(--heading-font, 'Merriweather', serif);
}
.all-right,
.footer-strip li {
    color: var(--color-primary, #131313);
    font-size: var(--display-4, 14px);
    font-weight: var(--font-semi-bold, 600);
}

.footer-strip li span {
    margin-top: 17px;
    background: var(--bg-color-light-300, #fff);
}

.menu-overlay {
    background: var(--bg-color-light-50, #f5f5f5) url(../img/menu-bg.png) no-repeat bottom center;
    background-size: contain;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    display: none;
    z-index: 5;
}

.menu-overlay h1 {
    font-size: var(--heading-1, 40px);
    margin-top: 136px;
    margin-bottom: 60px;
}

.menu-content-wrap {
    width: calc(100% - 320px);
    margin-left: 332px;
}

.menu-overlay ul.nav {
    margin-bottom: 60px;
}

.menu-overlay ul.nav li {
    display: inline-block;
    margin-right: calc(var(--spacing-md, 22px) * 3);
    cursor: pointer;
}
#fullPage-nav{
    display: none !important;
}
.menu-overlay ul.nav li:last-child {
    margin-right: 0;
}

.menu-overlay li span,.menu-overlay li span a {
    color: var(--color-light-150, #252b42);
    text-decoration: none;
}

.menu-overlay ul.social li {
    display: inline-block;
}

.menu-logo {
    width: 81px;
    height: 77px;
    position: absolute;
    top: 20px;
}

.social-property {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background: var(--color-light-550, #424242);
    height: 27px;
    width: 27px;
    display: inline-block;
}
.social-property:hover{
    background-color: var(--bg-color-light-350, #1a87f1);
}
.insta {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_809_1257)'%3E%3Cpath d='M13 5C10.829 5 10.556 5.01 9.703 5.048C8.85 5.088 8.269 5.222 7.76 5.42C7.22609 5.62082 6.74249 5.93583 6.343 6.343C5.93608 6.7427 5.62111 7.22624 5.42 7.76C5.222 8.268 5.087 8.85 5.048 9.7C5.01 10.555 5 10.827 5 13.001C5 15.173 5.01 15.445 5.048 16.298C5.088 17.15 5.222 17.731 5.42 18.24C5.625 18.766 5.898 19.212 6.343 19.657C6.787 20.102 7.233 20.376 7.759 20.58C8.269 20.778 8.849 20.913 9.701 20.952C10.555 20.99 10.827 21 13 21C15.173 21 15.444 20.99 16.298 20.952C17.149 20.912 17.732 20.778 18.241 20.58C18.7746 20.3791 19.2578 20.0641 19.657 19.657C20.102 19.212 20.375 18.766 20.58 18.24C20.777 17.731 20.912 17.15 20.952 16.298C20.99 15.445 21 15.173 21 13C21 10.827 20.99 10.555 20.952 9.701C20.912 8.85 20.777 8.268 20.58 7.76C20.3789 7.22623 20.0639 6.74268 19.657 6.343C19.2576 5.93568 18.774 5.62065 18.24 5.42C17.73 5.222 17.148 5.087 16.297 5.048C15.443 5.01 15.172 5 12.998 5H13.001H13ZM12.283 6.442H13.001C15.137 6.442 15.39 6.449 16.233 6.488C17.013 6.523 17.437 6.654 17.719 6.763C18.092 6.908 18.359 7.082 18.639 7.362C18.919 7.642 19.092 7.908 19.237 8.282C19.347 8.563 19.477 8.987 19.512 9.767C19.551 10.61 19.559 10.863 19.559 12.998C19.559 15.133 19.551 15.387 19.512 16.23C19.477 17.01 19.346 17.433 19.237 17.715C19.1087 18.0624 18.904 18.3764 18.638 18.634C18.358 18.914 18.092 19.087 17.718 19.232C17.438 19.342 17.014 19.472 16.233 19.508C15.39 19.546 15.137 19.555 13.001 19.555C10.865 19.555 10.611 19.546 9.768 19.508C8.988 19.472 8.565 19.342 8.283 19.232C7.9355 19.1039 7.62113 18.8996 7.363 18.634C7.09675 18.376 6.89172 18.0617 6.763 17.714C6.654 17.433 6.523 17.009 6.488 16.229C6.45 15.386 6.442 15.133 6.442 12.996C6.442 10.86 6.45 10.608 6.488 9.765C6.524 8.985 6.654 8.561 6.764 8.279C6.909 7.906 7.083 7.639 7.363 7.359C7.643 7.079 7.909 6.906 8.283 6.761C8.565 6.651 8.988 6.521 9.768 6.485C10.506 6.451 10.792 6.441 12.283 6.44V6.442ZM17.271 7.77C17.1449 7.77 17.0201 7.79483 16.9036 7.84308C16.7872 7.89132 16.6813 7.96203 16.5922 8.05118C16.503 8.14032 16.4323 8.24615 16.3841 8.36262C16.3358 8.4791 16.311 8.60393 16.311 8.73C16.311 8.85607 16.3358 8.9809 16.3841 9.09738C16.4323 9.21385 16.503 9.31968 16.5922 9.40882C16.6813 9.49797 16.7872 9.56868 16.9036 9.61692C17.0201 9.66517 17.1449 9.69 17.271 9.69C17.5256 9.69 17.7698 9.58886 17.9498 9.40882C18.1299 9.22879 18.231 8.98461 18.231 8.73C18.231 8.47539 18.1299 8.23121 17.9498 8.05118C17.7698 7.87114 17.5256 7.77 17.271 7.77ZM13.001 8.892C12.4561 8.8835 11.9149 8.98349 11.409 9.18614C10.9031 9.3888 10.4425 9.69007 10.0542 10.0724C9.66579 10.4548 9.35736 10.9106 9.14684 11.4133C8.93632 11.916 8.8279 12.4555 8.8279 13.0005C8.8279 13.5455 8.93632 14.085 9.14684 14.5877C9.35736 15.0904 9.66579 15.5462 10.0542 15.9286C10.4425 16.3109 10.9031 16.6122 11.409 16.8149C11.9149 17.0175 12.4561 17.1175 13.001 17.109C14.0795 17.0922 15.1082 16.6519 15.865 15.8833C16.6217 15.1146 17.0459 14.0792 17.0459 13.0005C17.0459 11.9218 16.6217 10.8864 15.865 10.1177C15.1082 9.34909 14.0795 8.90883 13.001 8.892ZM13.001 10.333C13.7083 10.333 14.3867 10.614 14.8869 11.1141C15.387 11.6143 15.668 12.2927 15.668 13C15.668 13.7073 15.387 14.3857 14.8869 14.8859C14.3867 15.386 13.7083 15.667 13.001 15.667C12.2937 15.667 11.6153 15.386 11.1151 14.8859C10.615 14.3857 10.334 13.7073 10.334 13C10.334 12.2927 10.615 11.6143 11.1151 11.1141C11.6153 10.614 12.2937 10.333 13.001 10.333Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_809_1257'%3E%3Crect width='16.0006' height='16.0003' fill='white' transform='translate(5 5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    mask-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_809_1257)'%3E%3Cpath d='M13 5C10.829 5 10.556 5.01 9.703 5.048C8.85 5.088 8.269 5.222 7.76 5.42C7.22609 5.62082 6.74249 5.93583 6.343 6.343C5.93608 6.7427 5.62111 7.22624 5.42 7.76C5.222 8.268 5.087 8.85 5.048 9.7C5.01 10.555 5 10.827 5 13.001C5 15.173 5.01 15.445 5.048 16.298C5.088 17.15 5.222 17.731 5.42 18.24C5.625 18.766 5.898 19.212 6.343 19.657C6.787 20.102 7.233 20.376 7.759 20.58C8.269 20.778 8.849 20.913 9.701 20.952C10.555 20.99 10.827 21 13 21C15.173 21 15.444 20.99 16.298 20.952C17.149 20.912 17.732 20.778 18.241 20.58C18.7746 20.3791 19.2578 20.0641 19.657 19.657C20.102 19.212 20.375 18.766 20.58 18.24C20.777 17.731 20.912 17.15 20.952 16.298C20.99 15.445 21 15.173 21 13C21 10.827 20.99 10.555 20.952 9.701C20.912 8.85 20.777 8.268 20.58 7.76C20.3789 7.22623 20.0639 6.74268 19.657 6.343C19.2576 5.93568 18.774 5.62065 18.24 5.42C17.73 5.222 17.148 5.087 16.297 5.048C15.443 5.01 15.172 5 12.998 5H13.001H13ZM12.283 6.442H13.001C15.137 6.442 15.39 6.449 16.233 6.488C17.013 6.523 17.437 6.654 17.719 6.763C18.092 6.908 18.359 7.082 18.639 7.362C18.919 7.642 19.092 7.908 19.237 8.282C19.347 8.563 19.477 8.987 19.512 9.767C19.551 10.61 19.559 10.863 19.559 12.998C19.559 15.133 19.551 15.387 19.512 16.23C19.477 17.01 19.346 17.433 19.237 17.715C19.1087 18.0624 18.904 18.3764 18.638 18.634C18.358 18.914 18.092 19.087 17.718 19.232C17.438 19.342 17.014 19.472 16.233 19.508C15.39 19.546 15.137 19.555 13.001 19.555C10.865 19.555 10.611 19.546 9.768 19.508C8.988 19.472 8.565 19.342 8.283 19.232C7.9355 19.1039 7.62113 18.8996 7.363 18.634C7.09675 18.376 6.89172 18.0617 6.763 17.714C6.654 17.433 6.523 17.009 6.488 16.229C6.45 15.386 6.442 15.133 6.442 12.996C6.442 10.86 6.45 10.608 6.488 9.765C6.524 8.985 6.654 8.561 6.764 8.279C6.909 7.906 7.083 7.639 7.363 7.359C7.643 7.079 7.909 6.906 8.283 6.761C8.565 6.651 8.988 6.521 9.768 6.485C10.506 6.451 10.792 6.441 12.283 6.44V6.442ZM17.271 7.77C17.1449 7.77 17.0201 7.79483 16.9036 7.84308C16.7872 7.89132 16.6813 7.96203 16.5922 8.05118C16.503 8.14032 16.4323 8.24615 16.3841 8.36262C16.3358 8.4791 16.311 8.60393 16.311 8.73C16.311 8.85607 16.3358 8.9809 16.3841 9.09738C16.4323 9.21385 16.503 9.31968 16.5922 9.40882C16.6813 9.49797 16.7872 9.56868 16.9036 9.61692C17.0201 9.66517 17.1449 9.69 17.271 9.69C17.5256 9.69 17.7698 9.58886 17.9498 9.40882C18.1299 9.22879 18.231 8.98461 18.231 8.73C18.231 8.47539 18.1299 8.23121 17.9498 8.05118C17.7698 7.87114 17.5256 7.77 17.271 7.77ZM13.001 8.892C12.4561 8.8835 11.9149 8.98349 11.409 9.18614C10.9031 9.3888 10.4425 9.69007 10.0542 10.0724C9.66579 10.4548 9.35736 10.9106 9.14684 11.4133C8.93632 11.916 8.8279 12.4555 8.8279 13.0005C8.8279 13.5455 8.93632 14.085 9.14684 14.5877C9.35736 15.0904 9.66579 15.5462 10.0542 15.9286C10.4425 16.3109 10.9031 16.6122 11.409 16.8149C11.9149 17.0175 12.4561 17.1175 13.001 17.109C14.0795 17.0922 15.1082 16.6519 15.865 15.8833C16.6217 15.1146 17.0459 14.0792 17.0459 13.0005C17.0459 11.9218 16.6217 10.8864 15.865 10.1177C15.1082 9.34909 14.0795 8.90883 13.001 8.892ZM13.001 10.333C13.7083 10.333 14.3867 10.614 14.8869 11.1141C15.387 11.6143 15.668 12.2927 15.668 13C15.668 13.7073 15.387 14.3857 14.8869 14.8859C14.3867 15.386 13.7083 15.667 13.001 15.667C12.2937 15.667 11.6153 15.386 11.1151 14.8859C10.615 14.3857 10.334 13.7073 10.334 13C10.334 12.2927 10.615 11.6143 11.1151 11.1141C11.6153 10.614 12.2937 10.333 13.001 10.333Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_809_1257'%3E%3Crect width='16.0006' height='16.0003' fill='white' transform='translate(5 5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.facebook {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_809_1260)'%3E%3Cpath d='M21.8555 13.05C21.8555 8.604 18.2735 5 13.8555 5C9.43552 5.001 5.85352 8.604 5.85352 13.051C5.85352 17.068 8.77952 20.398 12.6035 21.002V15.377H10.5735V13.051H12.6055V11.276C12.6055 9.259 13.8005 8.145 15.6275 8.145C16.5035 8.145 17.4185 8.302 17.4185 8.302V10.282H16.4095C15.4165 10.282 15.1065 10.903 15.1065 11.54V13.05H17.3245L16.9705 15.376H15.1055V21.001C18.9295 20.397 21.8555 17.067 21.8555 13.05Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_809_1260'%3E%3Crect width='17' height='17' fill='white' transform='translate(5.21484 5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    mask-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_809_1260)'%3E%3Cpath d='M21.8555 13.05C21.8555 8.604 18.2735 5 13.8555 5C9.43552 5.001 5.85352 8.604 5.85352 13.051C5.85352 17.068 8.77952 20.398 12.6035 21.002V15.377H10.5735V13.051H12.6055V11.276C12.6055 9.259 13.8005 8.145 15.6275 8.145C16.5035 8.145 17.4185 8.302 17.4185 8.302V10.282H16.4095C15.4165 10.282 15.1065 10.903 15.1065 11.54V13.05H17.3245L16.9705 15.376H15.1055V21.001C18.9295 20.397 21.8555 17.067 21.8555 13.05Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_809_1260'%3E%3Crect width='17' height='17' fill='white' transform='translate(5.21484 5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.twitter {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='27' height='26' viewBox='0 0 27 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_809_1263)'%3E%3Cpath d='M9.66467 19.0007C15.7027 19.0007 19.0057 13.9977 19.0057 9.66669C19.0057 9.52669 19.0057 9.38469 18.9997 9.24469C19.6427 8.77918 20.1977 8.20284 20.6387 7.54269C20.038 7.80754 19.4014 7.9821 18.7497 8.06069C19.4362 7.65033 19.9504 7.00466 20.1967 6.24369C19.5517 6.62582 18.8457 6.89407 18.1097 7.03669C17.6149 6.50972 16.9601 6.16061 16.2468 6.04345C15.5334 5.92629 14.8014 6.04761 14.164 6.38863C13.5266 6.72965 13.0195 7.27132 12.7211 7.92975C12.4228 8.58818 12.3499 9.32663 12.5137 10.0307C11.2084 9.96524 9.93149 9.62616 8.76571 9.03544C7.59994 8.44471 6.57136 7.61554 5.74667 6.60169C5.32801 7.32478 5.20025 8.18009 5.38932 8.99396C5.57839 9.80782 6.07013 10.5192 6.76467 10.9837C6.24421 10.966 5.73519 10.8263 5.27867 10.5757V10.6207C5.27957 11.3782 5.54198 12.1121 6.02155 12.6985C6.50111 13.2848 7.16842 13.6876 7.91067 13.8387C7.62893 13.9163 7.3379 13.955 7.04567 13.9537C6.83966 13.9543 6.63405 13.9352 6.43167 13.8967C6.64146 14.5487 7.04994 15.1189 7.59992 15.5272C8.14989 15.9355 8.81381 16.1615 9.49867 16.1737C8.33523 17.0875 6.89807 17.5831 5.41867 17.5807C5.15799 17.5818 4.8975 17.5668 4.63867 17.5357C6.14019 18.493 7.88397 19.0012 9.66467 19.0007Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_809_1263'%3E%3Crect width='16' height='16' fill='white' transform='translate(5.13867 5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    mask-image: url("data:image/svg+xml,%3Csvg width='27' height='26' viewBox='0 0 27 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_809_1263)'%3E%3Cpath d='M9.66467 19.0007C15.7027 19.0007 19.0057 13.9977 19.0057 9.66669C19.0057 9.52669 19.0057 9.38469 18.9997 9.24469C19.6427 8.77918 20.1977 8.20284 20.6387 7.54269C20.038 7.80754 19.4014 7.9821 18.7497 8.06069C19.4362 7.65033 19.9504 7.00466 20.1967 6.24369C19.5517 6.62582 18.8457 6.89407 18.1097 7.03669C17.6149 6.50972 16.9601 6.16061 16.2468 6.04345C15.5334 5.92629 14.8014 6.04761 14.164 6.38863C13.5266 6.72965 13.0195 7.27132 12.7211 7.92975C12.4228 8.58818 12.3499 9.32663 12.5137 10.0307C11.2084 9.96524 9.93149 9.62616 8.76571 9.03544C7.59994 8.44471 6.57136 7.61554 5.74667 6.60169C5.32801 7.32478 5.20025 8.18009 5.38932 8.99396C5.57839 9.80782 6.07013 10.5192 6.76467 10.9837C6.24421 10.966 5.73519 10.8263 5.27867 10.5757V10.6207C5.27957 11.3782 5.54198 12.1121 6.02155 12.6985C6.50111 13.2848 7.16842 13.6876 7.91067 13.8387C7.62893 13.9163 7.3379 13.955 7.04567 13.9537C6.83966 13.9543 6.63405 13.9352 6.43167 13.8967C6.64146 14.5487 7.04994 15.1189 7.59992 15.5272C8.14989 15.9355 8.81381 16.1615 9.49867 16.1737C8.33523 17.0875 6.89807 17.5831 5.41867 17.5807C5.15799 17.5818 4.8975 17.5668 4.63867 17.5357C6.14019 18.493 7.88397 19.0012 9.66467 19.0007Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_809_1263'%3E%3Crect width='16' height='16' fill='white' transform='translate(5.13867 5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.mb-32 {
    margin-bottom: calc(var(--spacing-base, 16px) * 2);
}

.hide-lg {
    display: none;
}

.header-trans .logo-sm {
    display: none;
}

.animation-wrap {
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.big-leave {
    position: absolute;
    background: url(../img/big-leave.svg) no-repeat;
    height: 1960px;
    width: 1180px;
    z-index: 0;
    opacity: 1;
    animation: diving 50s ease-in-out infinite;
}

.small-leave {
    position: absolute;
    background: url(../img/small-leave.svg) no-repeat;
    height: 850px;
    width: 290px;
    z-index: 0;
    opacity: 1;
    right: 0;
    animation: diving1 10s ease-in-out infinite;
}

@keyframes diving {
    0% {
        margin-top: -1000px;
    }

    50% {
        margin-top: 0;
    }

    100% {
        margin-top: -1000px;
    }
}

@keyframes diving1 {
    0% {
        bottom: -100px;
    }

    50% {
        bottom: 0;
    }

    100% {
        bottom: -100px
    }
}

/*animation of section start*/


.active .img-scale-delay {
    transition: all 0.7s ease 2.5s;
    -moz-transition: all 0.7s ease 2.5s;
    -webkit-transition: all 0.7s ease 2.5s;
    -ms-transition: all 0.7s ease 2500;
    transform: scale3d(1.0, 1.0, 1.0);
}


.y-axis-top {
/*    transform: translateY(-400px);*/
    opacity: 0;
}

.active .y-axis-top {
    transition: all 0.7s ease 1.5s;
    -moz-transition: all 0.7s ease 1.5s;
    -webkit-transition: all 0.7s ease 1.5s;
    -ms-transition: all 0.7s ease 1500;
    transform: translateY(0);
    opacity: 1;
}

.y-axis-top-delay {
/*    transform: translateY(-400px);*/
    opacity: 0;
}

.active .y-axis-top-delay {
    transition: all 0.7s ease 3s;
    -moz-transition: all 0.7s ease 3s;
    -webkit-transition: all 0.7s ease 3s;
    -ms-transition: all 0.7s ease 3000;
    transform: translateY(0);
    opacity: 1;
}
.active .y-axis-top-delay-1 {
    transition: all 0.7s ease 2.2s;
    -moz-transition: all 0.7s ease 2.2s;
    -webkit-transition: all 0.7s ease 2.2s;
    -ms-transition: all 0.7s ease 2200;
    transform: translateY(0);
    opacity: 1;
}
.y-axis-bottom-delay-1{
    opacity: 0;
}
.active .y-axis-bottom-delay-1 {
    transition: all 0.7s ease 2.4s;
    -moz-transition: all 0.7s ease 2.4s;
    -webkit-transition: all 0.7s ease 2.4s;
    -ms-transition: all 0.7s ease 2400;
    transform: translateY(0);
    opacity: 1;
}
.y-axis-bottom-delay {
/*    transform: translateY(400px);*/
    opacity: 0;
}

.active .y-axis-bottom-delay {
    transition: all 0.7s ease 3.5s;
    -moz-transition: all 0.7s ease 3.5s;
    -webkit-transition: all 0.7s ease 3.5s;
    -ms-transition: all 0.7s ease 3500;
    opacity: 1;
}

.active .y-axis-top-delay-2 {
    transition: all 0.7s ease 3.7s;
    -moz-transition: all 0.7s ease 3.7s;
    -webkit-transition: all 0.7s ease 3.7s;
    -ms-transition: all 0.7s ease 3700;
    transform: translateY(0);
    opacity: 1;
}

.y-axis-bottom {
/*    transform: translateY(400px);*/
    opacity: 0;
}

.active .y-axis-bottom {
    transition: all 0.7s ease 2s;
    -moz-transition: all 0.7s ease 2s;
    -webkit-transition: all 0.7s ease 2s;
    -ms-transition: all 0.7s ease 2000;
    opacity: 1;
}

.active .y-axis-bottom-delay-2 {
    transition: all 0.7s ease 3.9s;
    -moz-transition: all 0.7s ease 3.9s;
    -webkit-transition: all 0.7s ease 3.9s;
    -ms-transition: all 0.7s ease 3900;
    opacity: 1;
}
.list-scale {
    transform: scaleX(-1);
    opacity: 0;
}

/*.section-ani .list-scale {*/
.active .list-scale {
    transition: all 0.7s ease 2.5s;
    -moz-transition: all 0.7s ease 2.5s;
    -webkit-transition: all 0.7s ease 2.5s;
    -ms-transition: all 0.7s ease 2500;
    transform: scaleX(1);
    opacity: 1;
}

/*.section-ani .process-step::after {*/
.active .step-first .process-step::after {
    transition: all 0.3s ease 1.4s;
    -moz-transition: all 0.3s ease 1.4s;
    -webkit-transition: all 0.3s ease 1.4s;
    -ms-transition: all 0.3s ease 1400;
    width: 54px;
    right: -54px;
}

.active .process-step::after {
    transition: all 0.3s ease 0.8s;
    -moz-transition: all 0.3s ease 0.8s;
    -webkit-transition: all 0.3s ease 0.8s;
    -ms-transition: all 0.3s ease 800;
    width: 54px;
    right: -54px;
}

/*.section-ani .process-ryt .process-step::after {*/
.active .process-ryt .process-step::after {
    transition: all 0.3s ease 0.8s;
    -moz-transition: all 0.3s ease 0.8s;
    -webkit-transition: all 0.3s ease 0.8s;
    -ms-transition: all 0.3s ease 800;
    width: 193px;
    left: -193px;
}

/*.section-ani .process-step-count {*/
.active .step-first .process-step-count {
    transition: all 0.3s ease 1.6s;
    -moz-transition: all 0.3s ease 1.6s;
    -webkit-transition: all 0.3s ease 1.6s;
    -ms-transition: all 0.3s ease 1600;
    transform: scale(1);
}
.active .process-step-count {
    transition: all 0.3s ease 1s;
    -moz-transition: all 0.3s ease 1s;
    -webkit-transition: all 0.3s ease 1s;
    -ms-transition: all 0.3s ease 1000;
    transform: scale(1);
}
/*.section-ani .border-lft {*/
/*.active .border-lft {
    transition: all 0.3s ease 2.5s;
    -moz-transition: all 0.3s ease 2.5s;
    -webkit-transition: all 0.3s ease 2.5s;
    -ms-transition: all 0.3s ease 2500;
    border-width: 1px;
}*/
.border-lft::after{
    height: 0;
}
.active .border-lft::after{
    transition: all 0.3s ease 1.4s;
    -moz-transition: all 0.3s ease 1.4s;
    -webkit-transition: all 0.3s ease 1.4s;
    -ms-transition: all 0.3s ease 1400;
    height: 100%;
}
/*animation of section end*/
.backToTop{
    background: url(../img/backtotop.svg) no-repeat;
    background-size: cover;
    height: 63px;
    width: 63px;
    position: fixed;
    right: 60px;
    bottom: 110px;
    cursor: pointer;
    opacity: 0;
    bottom: 0;
    z-index: 2;
}
.showArrow.backToTop{
    transition: all 0.7s ease 1s;
    -moz-transition: all 0.7s ease 1s;
    -webkit-transition: all 0.7s ease 1s;
    -ms-transition: all 0.7s ease 1000;
    opacity: 1;
    bottom: 110px;
}

@media (max-width: 1400px) {
    .bullets {
        width: 260px;
    }
    .menu-content-wrap {
        width: calc(100% - 260px);
        margin-left: 272px;
    }
    .section-content {
        width: calc(100% - 260px);
    }
    .header{
        padding-left: 272px;
    }

    .feedback-slider li {
        width: 265px;
        min-height: 288px;
    }

    .avtar-list li {
        margin-right: 30px;
    }
}

@media (max-width: 1280px) {
    .margin-left-xlg {
        margin-left: calc(var(--spacing-md, 22px) * 2);
    }

    .border-lft {
        margin-left: calc(var(--spacing-md, 22px) * 2);
    }

    .menu-overlay h1 {
        margin-top: 190px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: var(--display-2, 18px) !important;
    }

    .header {
        padding-left: 160px;
    }

    .bullets {
        width: 160px;
    }

    .menu-content-wrap {
        width: calc(100% - 160px);
        margin-left: 166px;
    }

    .section-content {
        width: calc(100% - 160px);
    }

    #nav-icon {
        margin-right: calc(var(--spacing-md, 22px) + var(--spacing-xsm, 8px));
    }

    .header {
        padding-top: calc(var(--spacing-md, 22px) + var(--spacing-base, 16px));
    }

    
    .menu-logo {
        top: calc(var(--spacing-md, 22px) + var(--spacing-smallest, 2px));
    }

    .menu-overlay h1 {
        margin-top: 130px;
        margin-bottom: 30px;
    }

    .fnt-24 {
        font-size: var(--display-2, 18px) !important;
    }

    .section-content h1 {
        font-size: var(--heading-3, 32px) !important;
    }

    .width-lg {
        width: 460px;
    }

    .margin-left-xlg {
        width: 305px;
    }

    .fnt-32 {
        font-size: var(--display-base, 24px) !important;
    }

    .avtar-list {
        margin-top: var(--spacing-base, 16px);
    }

    .avtar-list li img {
        width: 180px;
    }

    .process-step-content span {
        font-size: var(--display-base, 24px) !important;
    }

    .feedback-slider li {
        width: 210px;
    }

    .mt-110 {
        margin-top: 40px !important;
    }

    .process-ryt {
        margin-left: calc(var(--spacing-md, 22px) * 3);
    }

    .footer-strip {
        padding: 0 calc(var(--spacing-md, 22px) + var(--spacing-smallest, 2px));
    }

    .hide-md {
        display: none;
    }
}

@media (max-width: 820px) {
    .d-flex {
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }

    .hide-md {
        display: block;
    }

    .avtar-list {
        flex-wrap: wrap;
        padding-right: calc(var(--spacing-md, 22px) + var(--spacing-smallest, 2px));
    }

    .section-content {
        padding-right: calc(var(--spacing-md, 22px) + var(--spacing-smallest, 2px));
    }

    .process-step-count {
        position: unset;
        margin: var(--spacing-sm, 12px) auto calc(var(--spacing-sm, 12px) + var(--spacing-xxsm, 4px));
    }

    .process-step-content {
        padding: 0;
        text-align: var(--align-center, center);
        width: 100%;
    }

    .process-step-content p {
        margin: 0 auto;
    }

    .menu-overlay h1 {
        margin-top: 200px;
    }

    .menu-content-wrap {
        width: 600px;
    }

    .process-step:after {
        display: none;
    }

    .process-ryt .process-step {
        order: 0;
    }

    .process-ryt {
        margin-left: 0;
    }

    .border-lft {
        margin-left: 0;
        border-left: unset;
        padding-left: 0;
        padding-top: var(--spacing-md, 22px);
    }

    .border-lft:after{
        display: none;
    }
    .contact-info>div {
        width: 100%;
    }

    .process-ryt .process-step-content {
        padding: 0;
    }

    .width-lg {
        flex-basis: 100%;
        order: 2;
        width: 100%;
    }

    .margin-left-xlg {
        margin: 0 0 var(--spacing-base, 16px) 0;
        width: 200px;
    }

    .avtar-list li {
        width: 50%;
        box-sizing: border-box;
        margin-right: 0;
        text-align: var(--align-center, center);
    }

    .avtar-list li:nth-child(odd) {
        padding-right: 15px;
    }

    .avtar-list li:nth-child(even) {
        padding-left: 15px;
    }

    .hide-lg {
        display: block;
    }

    .big-leave {
        background-size: 400px auto;
        height: 1036px;
        width: 400px;
        animation: diving 50s ease-in-out infinite;
    }

    .small-leave {
        background-size: 230px auto;
        height: 690px;
        width: 230px;
        animation: diving1 30s linear infinite;
    }

    @keyframes diving {
        0% {
            margin-top: 260px;
        }

        50% {
            margin-top: 0;
        }

        100% {
            margin-top: 260px;
        }
    }

    @keyframes diving1 {
        0% {
            bottom: 200px;
        }

        50% {
            bottom: 0;
        }

        100% {
            bottom: 200px
        }
    }
}

@media (max-width: 767px) {
    body {
        font-size: var(--display-4, 14px);
    }
    .backToTop {
        height: 40px;
        width: 40px;
        right: 20px;
    }
    .showArrow.backToTop {
       bottom: 94px;
   }
    .header {
        padding: 0 calc(var(--spacing-md, 22px) + var(--spacing-smallest, 2px));
        background: var(--bg-color-light-300, #fff);
        box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.25);
        height: 64px;
    }

    .header .logo-sm {
        width: 44px;
        height: auto;
        top: 12px;
    }

    
    #nav-icon {
        margin-right: 0;
        margin-top: calc(var(--spacing-md, 22px) + var(--spacing-smallest, 2px));
        width: 20px;
        position: absolute;
        right: 25px;
        top: 5px;
    }
    #nav-icon span{
        height: 2px;
    }
    #nav-icon span:nth-child(2), #nav-icon span:nth-child(3){
        top: 6px;
    }
    #nav-icon span:nth-child(4){
        top: 12px;
    }
    .header-trans a{
        display: inline-block;
    }

    .banner-content {
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;
        padding-top: calc(var(--spacing-base, 16px) * 2);
        top: unset;
        min-height: unset;
        height: calc(62vh - 64px);
        border-radius: 0;
        bottom: 0;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .logo-sm {
        opacity: 1;
        transform: translateY(12px);
    }

    .process-ryt {
        margin-left: 0;
    }

    .banner-content h1 {
        font-size: var(--heading-4, 30px);
    }

    .banner-content .banner-logo {
        display: none;
    }

    .video-wrap {
/*        height: 38vh;*/
        top: 64px;
        bottom: unset;
        z-index: 1;
        min-height:unset;
        min-width: unset;
        right: unset;
        width: 150%;
        left: -25%;
    }

    .d-flex {
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }

    .bullets {
        display: none;
    }

    .section-content {
        width: 100%;
        padding: calc(var(--spacing-md, 22px) + var(--spacing-smallest, 2px));
    }

    .width-lg {
        width: 100%;
        order: 2;
        flex-basis: 100%;
    }

    .margin-left-xlg {
        margin: 0 0 var(--spacing-base, 16px) 0;
        width: 174px;
    }

    .heading-graphic::after {
        width: 123px;
    }

    .heading-graphic {
        margin-right: var(--spacing-xsm, 8px);
    }

    /*.width-lg+div{
        width: 100%;
        text-align: center;
    }*/
    .section-content h1 {
        font-size: var(--display-base, 24px) !important;
    }

    .fnt-24,
    .fnt-32 {
        font-size: var(--display-4, 14px) !important;
    }

    .avtar-list {
        flex-wrap: wrap;
    }

    .avtar-list li {
        width: 50%;
        box-sizing: border-box;
        margin-right: 0;
        text-align: var(--align-center, center);
    }

    .avtar-list li:nth-child(odd) {
        padding-right: 15px;
    }

    .avtar-list li:nth-child(even) {
        padding-left: 15px;
    }

    .avtar-list li img {
        width: 112px;
    }

    .process-step::after {
        display: none;
    }

    .process-step-content {
        padding: 0;
        text-align: var(--align-center, center);
    }

    .process-step-count {
        position: unset;
        margin: var(--spacing-sm, 12px) auto calc(var(--spacing-sm, 12px) + var(--spacing-xxsm, 4px));
    }

    .process-step-content p {
        font-size: var(--display-3, 16px);
        width: 285px;
    }

    .process-ryt .process-step {
        order: 0;
    }

    .process-ryt .process-step-content {
        padding: 0;
    }

    .border-lft {
        margin-left: 0;
        border-left: unset;
        padding-left: 0;
        padding-top: var(--spacing-md, 22px);
    }

    .border-lft h1 {
        margin-bottom: calc(var(--spacing-md, 22px) + 2px) !important;
    }

    .mb-logo {
        padding: var(--spacing-xsm, 8px) var(--spacing-base, 16px);
    }

    .mb-logo img {
        width: 110px;
    }

    .contact-info>div {
        width: 100%;
    }

    .contact-list li {
        background-position: 0 1px !important;
        padding-left: calc(var(--spacing-md, 22px) + var(--spacing-xsm, 8px));
    }

    .contact-list li.email {
        background-size: 23px 16px;
    }

    .contact-list li.phone {
        background-size: 18px 20px;
        height: 20px;
    }

    .feedback-slider {
        white-space: nowrap;
    }

    .feedback-slider-wrap {
        overflow: scroll;
        height: 202px;
    }
    .feedback-slider-parent{
        
        overflow: hidden;
        height: 192px !important
    }
    .feedback-slider li {
        display: inline-block;
        vertical-align: top;
        float: none;
        white-space: normal;
        width: 312px;
        height: 168px;
        min-height: unset;
        box-sizing: border-box;
        margin-left: var(--spacing-xsm, 8px);
        margin-right: 0;
        padding: var(--spacing-base, 16px);
    }

    .user-detail {
        float: left;
        margin-bottom: 3px;
    }

    .feedback-slider li:first-child {
        margin-left: calc(var(--spacing-md, 22px) - var(--spacing-smallest, 2px));
    }

    .padding-horizontal {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .padding-horizontal h1 {
        padding-left: calc(var(--spacing-md, 22px) + var(--spacing-smallest, 2px));
    }

    .footer-strip {
        padding: 0 var(--spacing-md, 22px);
        margin-top: -90px;
        height: 60px;
        overflow: hidden;
    }

    .all-right {
        display: none;
    }

    .farm-footer {
        font-size: var(--display-3, 16px);
        font-weight: var(--font-bold, 700);
        color: var(--color-light-550, #424242);
    }

    .footer-strip li:first-child {
        display: none;
    }

    .feedback-slider li p {
        clear: both;
        font-size: var(--display-3, 16px);
        line-height: 22px;
    }

    .menu-content-wrap {
        width: 100%;
        padding: 0 calc(var(--spacing-md, 22px) + var(--spacing-smallest, 2px));
        box-sizing: border-box;
        margin-left: 0;
    }

    .menu-logo {
        display: none;
    }

    .menu-overlay {
        background-image: url(../img/mobile-bg.png);
        background-size: contain;
    }

    .menu-overlay h1 {
        font-size: var(--display-base, 24px);
        margin-bottom: calc(var(--spacing-md, 22px) + var(--spacing-base, 16px));
        margin-top: 144px;
    }

    .menu-overlay ul.nav li {
        display: block;
        margin: 0 0 var(--spacing-md, 22px) 0;

    }

    .header-trans {
        background: transparent;
        box-shadow: unset;
    }

    .header-trans .logo-sm {
        display: block;
    }

    .all-right-device {
        background: var(--bg-color-light-50, #f5f5f5);
        line-height: 30px;
        color: var(--color-primary, #131313);
        text-align: var(--align-center, center);
        font-size: var(--display-4, 14px);
        position: relative;
        z-index: 5;
    }

    .big-leave {
        background-size: 140px 560px;
        height: 560px;
        width: 140px;
        animation: diving 30s ease-in-out infinite;
    }

    .small-leave {
        background-size: 130px 390px;
        height: 390px;
        width: 130px;
        animation: diving1 30s linear infinite;
    }

    @keyframes diving {
        0% {
            margin-top: 260px;
        }

        50% {
            margin-top: 0;
        }

        100% {
            margin-top: 260px;
        }
    }

    @keyframes diving1 {
        0% {
            bottom: 200px;
        }

        50% {
            bottom: 0;
        }

        100% {
            bottom: 200px
        }
    }
}

@media (max-width: 390px) {
    .avtar-list div {
        padding: calc(var(--spacing-xsm, 8px) + var(--spacing-smallest, 2px)) 0;
        font-size: var(--display-4, 14px);
    }
    .avtar-list li img{
        width: 110px;
    }
    .step-first .process-step-content span{
        margin-bottom: calc(var(--spacing-xsm, 8px) + var(--spacing-smallest, 2px));
    }
    .step-first .process-step img{
        width: 265px;
    }
    .d-flex.mt-110 {
        margin-top: 20px !important;
    }
}